<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syn.mpos"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.syn.mpos.MPOSApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.syn.mpos.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.syn.mpos.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.syn.mpos.DiscountActivity"
            android:label="@string/discount"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syn.mpos.MainActivity" />
        </activity>
        <activity
            android:name="com.syn.mpos.SaleReportActivity"
            android:label="@string/title_activity_sale_report"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syn.mpos.MainActivity" />
        </activity>
        <activity
            android:name="com.syn.mpos.VoidBillActivity"
            android:label="@string/title_activity_void_bill"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syn.mpos.MainActivity" />
        </activity>
        <activity
            android:name="com.syn.mpos.SettingsActivity"
            android:label="@string/setting"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <provider
            android:name="com.syn.mpos.provider.ProductProvider"
            android:authorities="com.syn.mpos.ProductProvider" />

        <activity
            android:name="com.syn.mpos.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.syn.mpos.PaymentActivity"
            android:label="@string/payment"
            android:screenOrientation="landscape"
            android:theme="@style/ActivityDialogTheme" >
        </activity>
        <activity
            android:name="com.syn.mpos.CreditPayActivity"
            android:label="@string/credit_pay"
            android:screenOrientation="landscape"
            android:theme="@style/ActivityDialogTheme" >
        </activity>
        <activity
            android:name="com.syn.mpos.SyncSaleActivity"
            android:label="@string/send_sale_data"
            android:screenOrientation="landscape"
            android:theme="@style/ActivityDialogTheme" >
        </activity>
        <activity
            android:name="com.syn.mpos.ReprintActivity"
            android:label="@string/title_activity_reprint"
            android:theme="@style/ActivityDialogTheme" >
        </activity>
        <activity
            android:name="com.syn.mpos.SaleReportHtmlActivity"
            android:label="@string/title_activity_sale_report_html" >
        </activity>
    </application>

</manifest>
